
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: greenyellow;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: darkseagreen;
}

div {
  margin: 20px;
}
