
.listing {
  background: var(--accent-color);
  border-radius: 30px;
  padding-bottom: 30px;
}
.listing-heading {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
  font-size: 20px;
}
.listing-div {
  border-radius: 30px 30px 0 0;
  background-color: white;
  border-style: solid;
  border-color: var(--accent-color);
  border-width: 8px;
  text-align: center;
  height: 230px;
}
.listing-photo {
  max-height: 230px;
  max-width: 350px;
}
.listing-description {
  padding-left: 20px;
  color: grey;
}
.listing-rating {
  padding-left: 15px;
}
.listing-rating::before {
  content: "⭐Rating: ";
}
.listing-likes {
  padding-left: 15px;
  color: pink;
  cursor: pointer;
}
.listing-likes-number {
  color: pink;
}
.listing-share {
  border: none;
  color: white;
  border-radius: 15px;
  padding: 5px 5px;
  background-color: lightblue;
  margin-left: 120px;
  font-size: 18px;
}

.listing-remove {
  border: none;
  color: white;
  border-radius: 15px;
  padding: 5px 5px;
  background-color: red;
  font-size: 16px;
}

a.listing-learn-more {
  padding-left: 20px;
  text-decoration: none;
  color: var(--primary-color);
}
a.listing-learn-more::after {
  content: "\203A";
  margin-left: 5px;
}
